{% extends "admin/base_site.html" %}
{% load static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}

{% block branding %}
<div id="site-name">
    <a href="{% url 'admin:index' %}">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" style="margin-right: 8px; display: inline-block; vertical-align: middle;">
            <path d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0z"></path>
            <path d="M12 3v6m0 6v6m9-9h-6m-6 0H3"></path>
        </svg>
        量子太空杀攻略站 - 管理后台
    </a>
</div>
{% endblock %}

{% block userlinks %}
    <a href="/" class="admin-home-link">返回网站首页</a>
    {{ block.super }}
{% endblock %}

{% block footer %}
<div id="footer">
    <p>© {% now "Y" %} 量子太空杀攻略站 - 管理后台</p>
</div>
{% endblock %}
